<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h3 class="link-light" >Booking Management</h3>
        
        <div class="tab">
            <a routerLink="/bookflight" routerLinkActive="active"
            class="tablinks link-light"  style="text-decoration: none;" ><h6>Book Flight</h6></a>&nbsp;&nbsp;&nbsp;&nbsp;
             <a routerLink="/viewbookingpnr" routerLinkActive="active"
            class="tablinks link-light"  style="text-decoration: none;" ><h6>Check Ticket Details</h6></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a routerLink="/bookings" routerLinkActive="active"
            class="tablinks link-light"  style="text-decoration: none;" ><h6>Manage Booking</h6></a>&nbsp;&nbsp;&nbsp;&nbsp;

        </div>
        <a routerLink="/userlogin" style="text-decoration: none;" routerLinkActive="active"
        class="tablinks link-light" ><h6>
            Logout&nbsp;<img src="assets/images/shutdown.png" height="25px"  alt="Log out">
           </h6></a>
    </div>
</nav>