<app-userdashboard></app-userdashboard>
<section class="vh-100">
    <div class="container h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
       
        <form [formGroup]="booking"  >
             <!-- {{bookForm.value  | json }}  -->
            <div class="row" >
                <div class="col-md-5">
                    <div class="mb-3">
                      </div>
                     <!-- {{bookForm.value  | json }}  -->
                      <br>
                     
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Flight No</label>
                      <input type="text" [value]="bindflightno" name="flightNo" disabled class="form-control"  >       
                     </div>
                  
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label ">Airline Name</label>
                       <input type="text" [value]="bindairline" name="airlineName"  disabled class="form-control"   > 
                      </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label ">Place From</label>
                        <input type="text" [value]="bindplacefrom" name="placeFrom" disabled class="form-control"    >
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label ">Place To</label>
                      <input type="text" [value]="bindplaceto" name="placeTo" disabled  class="form-control"   >
                    </div>
                   
                
            
            
            
                </div>
                <div class="col-md-5">
                    <div class="mb-3">
                      </div>
                      <h3>Booking Details</h3>
                      <br>
                     
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Name</label>
                      <input type="text" formControlName="name"  class="form-control"   >       
                     </div>
                  
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label ">Email</label>
                       <input type="text" formControlName="email" class="form-control"  > 
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label ">No of Seats</label>
                       <input type="number" formControlName="NoofSeats"  class="form-control"  > 
                      </div>
                 </div>
               
            </div>
          
        
        </form>
        <div class="">
          <div class="mb-3">
             <h3>Add Passengers</h3>
             <table class="table table-striped table-bordered">
               <thead>
                   <tr>
                       <th>Passenger Name</th>
                       <th>Age</th>
                       <th>Gender</th>
                       <th>Meal</th>
                       <th>SeatClass</th>
                   </tr>
               </thead>
               <tbody>
                   <tr *ngFor="let field of fieldArray; let i = index">
                       <td>
                           <input [(ngModel)]="field.Passengername" class="form-control" type="text" name="{{field.Passengername}}" />
                       </td>
                       <td>
                           <input [(ngModel)]="field.age" class="form-control" type="number" name="{{field.age}}" />
                       </td>
                       <td>
                           <input [(ngModel)]="field.gender" class="form-control" type="text" name="{{field.gender}}" />
                       </td>
                       <td>
                         <input [(ngModel)]="field.meal" class="form-control" type="text" name="{{field.meal}}" />
                     </td>
                       <td>
                         <input [(ngModel)]="field.seatclass" class="form-control" type="text" name="{{field.seatclass}}" />
                     </td>
                       <td>
                           <button class="btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
                       </td>
                   </tr>
                   <tr>
                       <td>
                           <input class="form-control" type="text" id="newPassengername" [(ngModel)]="new.Passengername" name="newPassengername" />
                       </td>
                       <td>
                         <input class="form-control" type="number" id="newage" [(ngModel)]="new.age" name="newage" />
                     </td>
                     <td>
                       <input class="form-control" type="text" id="newgender" [(ngModel)]="new.gender" name="newgender" />
                   </td>
                   <td>
                     <input class="form-control" type="text" id="newmeal" [(ngModel)]="new.meal" name="newmeal" />
                  </td>
                  <td>
                   <input class="form-control" type="text" id="newseatclass" [(ngModel)]="new.seatclass" name="newseatclass" />
                  </td>
                   
                       <td>
                           <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
                       </td>
                   </tr>
               </tbody>
               </table>
             </div>
           
        </div>
        <button  (click)="AddBooking()"  class=" col-md-3 btn btn-primary">Submit</button>
      </div>
      <br>
    </div>
   
  </section>
